<h1>HTML exercise</h1>
<h2>Erick Bernardo Catalán Luareano</h2>

<p>Text box</p>
<input type="text" />

<p>Button</p>
<button>click here</button>

<p>Radio button</p>
<input type="radio" name="select"><label>Select this one (or not)</label><br>
<input type="radio" name="select"><label>Or maybe this other one</label>

<p>Check box</p>
<input type="checkbox" name="check"><label>What about this one?</label>


<p>Select box</p>

<label for="planets">Where are you from?:</label>
 
<select name="planet" id="planet">
  <option value="Eart">Earth</option>
  <option value="Tattoine">Tattooine</option>
  <option value="Mandalore">Mandalore</option>
  <option value="Courscant">Courscant</option>
  <option value="Dathomir">Dathomir</option>
  <option value="Dathomir">Mon Cala</option>
</select>


<p>Table</p>
<table>
    <thead>
      <tr>
        <th>Planet</th>
        <th>Race</th>
        <th>Republican</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Earth
        </td>
        <td>Humans</td>
        <td>No</td>
      </tr>
      <tr>
        <td>
          Tatooine
        </td>
        <td>Huts</td>
        <td>No</td>
      </tr>
      <tr>
        <td>
          Courscant
        </td>
        <td>Jedis</td>
        <td>Yes</td>
      </tr>
      <tr>
        <td>
          Dathomir
        </td>
        <td>Zabrak</td>
        <td>No</td>
      </tr>
      <tr>
        <td>
          Mon Cala
        </td>
        <td>Mon Calamari</td>
        <td>Yes</td>
      </tr>
    </tbody>
</table>



<p>Li tag</p>

<ol>
     <li value="1">Jedis</li>
  <li>Siths</li>
  <li>Mandalorians</li>
  <li>Wookies</li>
  <li>Twileks</li>
  <li>Togrutas</li>
  <li>Hutts</li>
  <li>Troopers</li>
  <li>Zarlak</li>
  <li>Mon Calamari</li>
  <li>Quarren</li>
</ol>

<p>Hyperlink</p>

<a href="https://starwars.fandom.com/wiki/List_of_planets">List of planets in Star Wars Universe</a>